*.sqlite3
.DS_Store
assets/*.key
assets/*.pdf
assets/*.zip
assets/*.docx
assets/*.odt
assets/*/
.vscode/
docs/_build
turnkey_web/statics/
escpos_web/statics/
escpos_web/django-taiwan-einvoice.crt
.py3env/
*.key
*.log
*.pyc
*.mo
.*
