# Only for taiwan_einvoice app
Django>=3.2,<3.3
django-simple-history>=3.0,<3.1
pycryptodome>=3.10,<3.11
channels>=3.0,<3.1
channels-redis>=3.3,<3.4
python-escpos==v3.0a8
https://github.com/ho600-ltd/ho600-ltd-python-libraries/archive/refs/tags/0.0.3.zip