# Only for turnkey_web
Django>=4.2,<4.3
django-compressor>=4.4,<4.5
Django-filter>=2.4,<2.5
djangorestframework>=3.14,<3.15
djangorestframework-filters==1.0.0.dev2
django-extensions>=3.2,<3.3
mysqlclient>=2.0,<2.1
requests>=2.26,<2.27
json2xml>=4.0,<4.1
xmltodict>=0.13,<0.14

#https://github.com/ho600-ltd/django-taiwan-einvoice/archive/refs/heads/master.zip
#git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/django-crontab-monitor
#git+ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/django-ho600_lib2
