{% load static %}
{% load i18n %}
{% load compress %}
{% load ho600_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% h6_get_objs_by_perms request.user for "taiwan_einvoice.edit_te_turnkeywebgroup" as "can_be_edited_turnkeywebs" %}
{% h6_get_objs_by_perms request.user for "taiwan_einvoice.view_staffprofile" as "can_view_staffprofiles" %}
{% h6_get_objs_by_perms request.user for "taiwan_einvoice.operate_te_escposweb" as "can_operate_escposwebs" %}
{% h6_get_objs_by_perms request.user for "taiwan_einvoice.view_te_sellerinvoicetrackno" as "can_view_sellerinvoicetrackno_under_turnkeywebs" %}
{% h6_get_objs_by_perms request.user for "taiwan_einvoice.view_te_einvoice" as "can_view_einvoice_under_turnkeywebs" %}
{% h6_get_objs_by_perms request.user for "taiwan_einvoice.view_te_canceleinvoice" as "can_view_canceleinvoice_under_turnkeywebs" %}
{% h6_get_objs_by_perms request.user for "taiwan_einvoice.view_te_einvoiceprintlog" as "can_view_einvoiceprintlog_under_turnkeywebs" %}
{% h6_get_objs_by_perms request.user for "taiwan_einvoice.view_turnkeyweb" as "can_view_turnkeywebs" %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>{% trans "Taiwan E-Invoice Management" %}</title>
    {% if not user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    {% compress css %}
        <link rel="stylesheet" href="{{ settings.STATIC_URL }}taiwan_einvoice/assets/Navigation-Clean.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ settings.STATIC_URL }}taiwan_einvoice/assets/bootstrap-multiselect.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ settings.STATIC_URL }}taiwan_einvoice/taiwan_einvoice_base.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ settings.STATIC_URL }}taiwan_einvoice/taiwan_einvoice_form_and_list.css" type="text/css" charset="utf-8">
    {% endcompress %}
    {% block css %}
    {% endblock %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    {% compress js %}
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/assets/tempusdominus-bootstrap-4.min.js"></script>
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/assets/jquery.tmpl.min.js"></script>
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/assets/jquery.blockUI.js"></script>
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/assets/js.cookie.js"></script>
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/taiwan_einvoice_base.js"></script>
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/taiwan_einvoice_site.js"></script>
    {% endcompress %}
    {% block js %}
    {% endblock %}
    <script type="text/javascript">
        var DEBUG = "{% if settings.DEBUG %}true{% endif %}";
        var BUGPAGE_URL = "{% url 'ho600_lib-index' %}bugpage/";
        $(function(){
            $('.language_form input[type=submit]').hide();
            $('.language_form select[name=language]').change(function() {
                $.cookie('django_language', $(this).val(), {expires: 365, path: '/'});
                $(this).parent().find('input[type=submit]').show();
                $(this).parents('.language_form').submit();
            });
        });
    </script>
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md fixed-top navigation-clean">
            <div class="container">
                <a class="navbar-brand" href="#"
                    style="color: {% ifequal settings.PRODUCTION_TYPE "online" %}#054C24{% else %}#BD0000{% endifequal %};">
                    {% trans "Taiwan E-Invoice Management" %}
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto" id="nav">
                        {% if perms.taiwan_einvoice.change_staffprofile or perms.taiwan_einvoice.edit_te_escposweboperator or perms.taiwan_einvoice.edit_te_turnkeywebgroup %}
                            <li class="dropdown nav-item nav_permission">
                                <a data-toggle="dropdown"
                                    aria-expanded="false"
                                    class="dropdown-toggle nav-link"
                                    href="#">{% trans "Permissions" %}</a>
                                <div role="menu" class="dropdown-menu">
                                    {% for turnkeyweb in can_be_edited_turnkeywebs %}
                                        <a role="presentation" class="dropdown-item nav_turnkeywebgroup"
                                            {% if turnkeyweb.id %}
                                                href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:turnkeywebgroup-detail' pk=turnkeyweb.id %}?format=html"
                                            {% else %}
                                                href="#"
                                            {% endif %}
                                            >
                                            {% blocktrans with name=turnkeyweb.name %}Staff Group({{ name }}){% endblocktrans %}
                                        </a>
                                    {% endfor %}
                                    {% if perms.taiwan_einvoice.change_staffprofile %}
                                        <a role="presentation" class="dropdown-item nav_staffprofile"
                                            href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:staffprofile-list' %}?format=html&amp;page_size=100">
                                            {% trans "Staff" %}
                                        </a>
                                    {% endif %}
                                    {% if perms.taiwan_einvoice.edit_te_escposweboperator %}
                                        <a role="presentation" class="dropdown-item nav_escposweboperator"
                                            href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:escposweboperator-list' %}?format=html">
                                            {% trans "ESC/POS Web Operator" %}
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                        {% if perms.taiwan_einvoice.view_escposweb or can_operate_escposwebs.exists %}
                            <li class="nav-item nav_escposweb" role="presentation">
                                <a class="nav-link" href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:escposweb-list' %}?format=html">{% trans "ESC/POS Printer" %}</a>
                            </li>
                        {% endif %}
                        {% if can_view_sellerinvoicetrackno_under_turnkeywebs.exists %}
                            <li class="nav-item nav_sellerinvoicetrackno" role="presentation">
                                <a class="nav-link" href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:sellerinvoicetrackno-list' %}?format=html">{% trans "Track No." %}</a>
                            </li>
                        {% endif %}
                        {% if can_view_einvoice_under_turnkeywebs.exists %}
                            <li class="nav-item nav_einvoice" role="presentation">
                                <a class="nav-link" href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:einvoice-list' %}?format=html">{% trans "E-Invoice" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.taiwan_einvoice.view_legalentity or perms.taiwan_einvoice.view_turnkeyweb or can_view_canceleinvoice_under_turnkeywebs.exists or notready_TODO or can_view_einvoiceprintlog_under_turnkeywebs.exists or can_view_turnkeywebs.exists %}
                            <li class="dropdown nav-item nav_else">
                                <a data-toggle="dropdown"
                                    aria-expanded="false"
                                    class="dropdown-toggle nav-link"
                                    href="#">{% trans "Else" %}</a>
                                <div role="menu" class="dropdown-menu">
                                    {% if can_view_canceleinvoice_under_turnkeywebs.exists %}
                                        <a role="presentation" class="dropdown-item nav_canceleinvoice" href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:canceleinvoice-list' %}?format=html">{% trans "Cancel EI." %}</a>
                                    {% endif %}
                                    {% if notready_TODO %}
                                        <a role="presentation" class="dropdown-item nav_accounter_audit" href="#">{% trans "Accounter Audit" %}</a>
                                    {% endif %}
                                    {% if can_view_einvoiceprintlog_under_turnkeywebs.exists %}
                                        <a role="presentation" class="dropdown-item nav_einvoiceprintlog" href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:einvoiceprintlog-list' %}?format=html">{% trans "Print Log" %}</a>
                                    {% endif %}
                                    {% if perms.taiwan_einvoice.view_legalentity %}
                                        <a role="presentation" class="dropdown-item nav_legalentity" href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:legalentity-list' %}?format=html">{% trans "Legal Entity" %}</a>
                                    {% endif %}
                                    {% if perms.taiwan_einvoice.view_turnkeyweb or can_view_turnkeywebs.exists %}
                                        <a role="presentation" class="dropdown-item nav_turnkeyweb" href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:turnkeyweb-list' %}?format=html">{% trans "Turnkey Web" %}</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                        <li class="dropdown nav-item nav_self">
                            <a data-toggle="dropdown"
                                aria-expanded="false"
                                class="dropdown-toggle nav-link"
                                href="#">{{ user.last_name }}{{ user.first_name }}</a>
                            <div role="menu" class="dropdown-menu">
                                <a role="presentation" class="dropdown-item nav_selfstaffprofile"
                                    {% if request.user.staffprofile.id %}    
                                        href="{% url 'taiwan_einvoice:taiwaneinvoiceapi:staffprofile-detail' pk=request.user.staffprofile.id %}?format=html"
                                    {% else %}
                                        href="#"
                                    {% endif %}
                                    >{{ user.email }}</a>
                                <span id="timezone" value="Asia/Taipei" role="presentation" class="dropdown-item">
                                    {% trans "Timezone" %}: {% trans "Asia/Taipei" %}
                                </span>
                                <a role="presentation" class="dropdown-item" href="{{ settings.LOGIN_URL }}logout/">{% trans "Logout" %}</a>
                            </div>
                        </li>
                        <li class="nav-item nav_change_language" role="presentation">
                            <form class="language_form form-inline" action='{% url "set_language" %}' method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input name="next" type="hidden" value="{{ request.META.PATH_INFO }}?{{ request.META.QUERY_STRING }}" />
                                    <select name="language" class="form-control">
                                        {% get_available_languages as languages %}
                                        {% for code, name in languages %}
                                            <option {% ifequal code LANGUAGE_CODE %}selected{% endifequal %}
                                                value="{{ code }}">{{ name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <input class="btn btn-default" type="submit" title="{% trans 'change language to your choice' %}" value='{% trans "Change" %}' />
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container" style="margin-top:112px;">
        {% block body %}{% endblock %}
    </div>

    {% block modals %}

    {% endblock %}

    <div class="modal" id="danger_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-danger"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="success_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-success"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="error_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-danger"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="warning_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div title='{% blocktrans with build_date=settings.BUILD_DATE build_number=settings.BUILD_NUMBER build_version=settings.VERSION %}
            Deploy Date: {{ build_date }}
            Deploy Number: {{ build_number }}
            Build Version: {{ build_version }}{% endblocktrans %}
            '>
            {% trans "System Build Version" %}:
            {{ settings.BUILD_DATE }}-{{ settings.BUILD_NUMBER }}-{{ settings.VERSION }}
        </div>
    </div>

</body>

</html>