{% load i18n %}{% load ho600_tags %}
{% h6_get_objs_by_any_perms request.user for "taiwan_einvoice.handle_te_batcheinvoice" as "can_handle_batcheinvoice_under_turnkeyservices" %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table" init_page_no="{{ data.init_page_no }}">
    <thead>
        <tr>
            <th>{% trans "No." %}</th>
            <th>{% trans "Batch slug" %}</th>
            <th>{% trans "Content Object" %}</th>
            <th>{% trans "Year Month Range" %}</th>
            <th>{% trans "Track no." %}</th>
            <th>{% trans "Body" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Result Code" %}</th>
            <th>{% trans "Error Handling" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in data.results %}
            <tr obj_id="{{ obj.id }}">
                <td field="no" class="record_order_no" counter0={{ forloop.counter0 }} title="obj id: {{ obj.id }}">{{ forloop.counter }}.</td>
                <td field="batch">{{ obj.batch_dict.slug }}</td>
                <td field="content_object_dict">{{ obj.content_object_dict.str_name }}@{{ obj.batch_dict.mig_type_dict.no }}</td>
                <td field="year_month_range">{{ obj.year_month_range }}</td>
                <td field="track_no">{{ obj.track_no }}</td>
                <td field="body"><pre style="max-width: 300px; max-height: 200px; overflow: auto;">{{ obj.body | pprint }}</pre></td>
                <td field="status">
                    {% if "c" == obj.status or "g" == obj.status or "p" == obj.status %}
                        {{ obj.status }}
                    {% else %}
                        <span class="text-danger font-weight-bold">{{ obj.status }}</span>
                    {% endif %}
                </td>
                <td field="result" class="text-danger">
                    <div field="result_code">{{ obj.result_code }}</div>
                    <div field="result_message">{{ obj.result_message }}</div>
                </td>
                <td field="pass_if_error">
                    {% if "" == obj.status or "p" == obj.status or "g" == obj.status %}
                        {% comment %}pass{% endcomment %}
                    {% else %}
                        {% if obj.handling_note %}
                            {% trans "Handled" %}
                            <div>{{ obj.handling_note }}</div>
                        {% else %}{% if not obj.pass_if_error and "c" != obj.status %}
                            {% for ts in can_handle_batcheinvoice_under_turnkeyservices %}
                                {% if ts.id == obj.batch_dict.turnkey_service_dict.id %}
                                    <button class="btn btn-warning re_create_another_upload_batch_modal">{% trans "Handle" %}</button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}{% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
