{% load i18n %}{% load tz %}

<div class="total_count_row">

    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}

    {% if perms.turnkeyweb.canceleinvoice %}
        <button id="canceleinvoice_modal_button_0" class="btn btn-success canceleinvoice_modal" data-toggle="modal">
            {% blocktrans %}Cancel and Re-Create E-Invoice{% endblocktrans %}
        </button>
    {% endif %}
</div>

<table class="table search_result">
    <thead>
        <tr>
            <th width="5%">{% trans "No." %}</th>
            <th width="10%">{% trans "Year Month Range" context "taiwan_einvoice" %}</th>
            <th width="10%">{% trans "Canceled Track No." %}</th>
            <th width="10%">{% trans "Tax Type" %}</th>
            <th width="10%">{% trans "Sales Amount" %}</th>
            <th width="10%">{% trans "Tax Amount" %}</th>
            <th width="10%">{% trans "Total Amount" %}</th>
            <th width="10%">{% trans "Footprint No." %}</th>
            <th width="10%">{% trans "Canceler" context "taiwan_einvoice" %}</th>
            <th width="30%">{% trans "Cancel Time" %}</th>
            <th width="5%">{% trans "New E-Invoice Track No." %}</th>
        </tr>
    </thead>
    <tbody>
        {% for canceleinvoice in data.results %}
            {% with canceleinvoice.id as einvoice_id %}
                <tr canceleinvoice_id="{{ canceleinvoice.id }}" >
                    <td>{{ forloop.counter }}.</td>
                    <td field="year_month_range">{{ canceleinvoice.einvoice_dict.seller_invoice_track_no_dict.year_month_range }}</td>
                    <td field="track_no_">{{ canceleinvoice.einvoice_dict.track_no_ }}</td>
                    <td field="type__display">{{ canceleinvoice.einvoice_dict.seller_invoice_track_no_dict.type__display }}</td>
                    <td field="SalesAmount">{{ canceleinvoice.einvoice_dict.amounts.SalesAmount }}</td>
                    <td field="TaxAmount">{{ canceleinvoice.einvoice_dict.amounts.TaxAmount }}</td>
                    <td field="TotalAmount" {% if canceleinvoice.einvoice_dict.amount_is_warning %}style="color: red; background: yellow;"{% endif %}>{{ canceleinvoice.einvoice_dict.amounts.TotalAmount }}</td>
                    <td field="generate_batch_no">{{ canceleinvoice.einvoice_dict.generate_batch_no }}</td>
                    <td field="creator_first_name_id">{{ canceleinvoice.creator_dict.first_name }}:{{ canceleinvoice.creator_dict.id }}</td>
                    <td class="datetime" field="generate_time" value="{{ canceleinvoice.generate_time }}" format="Y-m-d AH:i:s"></td>
                    <td field="new_einvoice__track_no_">{{ canceleinvoice.new_einvoice_dict.track_no_ }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>