{% extends 'taiwan_einvoice/base.html' %}
{% load i18n %}{% load static %}{% load rest_framework %}{% load compress %}

{% block css %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/canceleinvoice_list.js"></script>
    {% endcompress %}
{% endblock %}

{% block body %}

    <div class="form_container" id="id_search_options">
        <form method="GET" action="./" onsubmit="return false;">
            <input type='hidden' name='format' value='html' />

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="einvoice__code39__exact">{% trans "One-dimensional Barcode from the Canceled E-Invoice" context "taiwan_einvoice" %} <i class="fa fa-barcode" aria-hidden="true"></i></label>
                        <div class="input-group" id="einvoice__code39__exact" data-target-input="nearest">
                            <input type="text" class="form-control" name="einvoice__code39__exact" id="id_einvoice__code39__exact" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="einvoice__track_no__icontains">{% trans "Track No. from the Canceled E-Invoice contains" %}</label>
                        <div class="input-group" id="einvoice__track_no__icontains" data-target-input="nearest">
                            <input type="text" class="form-control" name="einvoice__track_no__icontains" id="id_einvoice__track_no__icontains" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="generate_time__gte">{% trans "Cancel time later than" %}</label>
                        <div class="input-group date" id="generate_time__gte" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#generate_time__gte"
                                name="generate_time__gte" id="id_generate_time__gte" />
                            <div class="input-group-append" data-target="#generate_time__gte" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="generate_time__lt">{% trans "Cancel time earlier than" %}</label>
                        <div class="input-group date" id="generate_time__lt" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#generate_time__lt"
                                name="generate_time__lt" id="id_generate_time__lt" />
                            <div class="input-group-append" data-target="#generate_time__lt" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search_button_row">
                <button class="btn btn-primary search" type="submit">{% trans "Search" %}</button>
            </div>
        </form>
    </div>

    <div class="pagination_row">
        <nav>
            {% if paginator %}
            {% get_pagination_html paginator %}
            {% endif %}
        </nav>
    </div>

    {% block content %}
    {% if content %}{{ content|safe }}{% endif %}
    {% endblock %}

    <div class="pagination_row">
        <nav>
            {% if paginator %}
            {% get_pagination_html paginator %}
            {% endif %}
        </nav>
    </div>

    {% endblock %}

{% block modals %}

{% endblock %}