{% load i18n %}{% load tz %}

<div class="total_count_row">

    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}

    {% if perms.turnkeyweb.print_einvoice %}
        <button id="print_einvoice_modal_button_0" class="btn print_einvoice_modal" data-toggle="modal"
            set_up_default_escpos_printer_url="{% url 'taiwan_einvoice:taiwaneinvoiceapi:escposweb-list' %}?format=html"
            ws_escposweb_url_tmpl="/ws/taiwan_einvoice/escpos_web/{id}/by-log-in/"
            ws_escposweb_status_url_tmpl="/ws/taiwan_einvoice/escpos_web/{id}/status/by-log-in/"
            ws_escposweb_print_result_url_tmpl="/ws/taiwan_einvoice/escpos_web/{id}/print_result/by-log-in/"
            >
            <img class="status-error" style="display: none; width: 20px;" src="{{ settings.STATIC_URL }}taiwan_einvoice/assets/Red_Light_Icon.svg" />
            <img class="status-off" style="width: 20px;" src="{{ settings.STATIC_URL }}taiwan_einvoice/assets/Gray_Light_Icon.svg" />
            <img class="status-on" style="display: none; width: 20px;" src="{{ settings.STATIC_URL }}taiwan_einvoice/assets/led-green-black.svg" />
            {% blocktrans %}Print E-Invoice with "<span id="default_escpos_print_name"></span>"{% endblocktrans %}
        </button>
    {% endif %}
</div>

<table class="table search_result">
    <thead>
        <tr>
            {% if perms.turnkeyweb.print_einvoice %}
                <th width="5%" field="check" class="print_einvoice">
                    <input type="checkbox" class="choose_all_check_in_the_same_td" />
                    {% trans "Choose" %}
                </th>
            {% endif %}
            <th width="5%">{% trans "No." %}</th>
            <th width="15%">{% trans "Year Month Range" context "taiwan_einvoice" %}</th>
            <th width="15%">{% trans "Track No." %}</th>
            <th width="15%">{% trans "Tax Type" %}</th>
            <th width="10%">{% trans "Sales Amount" %}</th>
            <th width="10%">{% trans "Tax Amount" %}</th>
            <th width="10%">{% trans "Total Amount" %}</th>
            <th width="15%">{% trans "Footprint No." %}</th>
            <th width="15%">{% trans "Creator" context "taiwan_einvoice" %}</th>
            <th width="20%">{% trans "Generate Time" %}</th>
            <th width="10%">{% trans "Print Mark" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for einvoice in data.results %}
            {% with einvoice.id as einvoice_id %}
                <tr einvoice_id="{{ einvoice.id }}">
                    {% if perms.turnkeyweb.print_einvoice %}
                        <td field="check" class="print_einvoice">
                            <input type="checkbox" name="print_einvoice" />
                        </td>
                    {% endif %}
                    <td>{{ forloop.counter }}.</td>
                    <td field="year_month_range">{{ einvoice.seller_invoice_track_no_dict.year_month_range }}</td>
                    <td field="track_no_"><button class="btn btn-primary show_einvoice_modal">{{ einvoice.track_no_ }}</button></td>
                    <td field="type__display">{{ einvoice.seller_invoice_track_no_dict.type__display }}</td>
                    <td field="SalesAmount">{{ einvoice.amounts.SalesAmount }}</td>
                    <td field="TaxAmount">{{ einvoice.amounts.TaxAmount }}</td>
                    <td field="TotalAmount">{{ einvoice.amounts.TotalAmount }}</td>
                    <td field="generate_batch_no">{{ einvoice.generate_batch_no }}</td>
                    <td>{{ einvoice.creator_dict.first_name }}:{{ einvoice.creator_dict.id }}</td>
                    <td class="datetime" value="{{ einvoice.generate_time }}" format="Y-m-d H:i:s"></td>
                    <td field="print_mark" value="{{ einvoice.print_mark }}">{% if einvoice.print_mark %}{% trans "Yes" context "taiwan_einvoice_print_mark" %}{% endif %}</td>
                </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>