{% extends 'taiwan_einvoice/base.html' %}
{% load i18n %}{% load static %}{% load rest_framework %}{% load compress %}{% load ho600_tags %}

{% h6_get_objs_by_any_perms request.user for "taiwan_einvoice.operate_te_escposweb" as "can_operate_escposwebs" %}

{% block css %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/einvoice_list.js"></script>
    {% endcompress %}
{% endblock %}

{% block body %}

    <div class="form_container" id="id_search_options">
        <form method="GET" action="./" onsubmit="return false;">
            <input type='hidden' name='format' value='html' />

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="code39__exact">{% trans "One-dimensional Barcode" context "taiwan_einvoice" %} <i class="fa fa-barcode" aria-hidden="true"></i></label>
                        <div class="input-group" id="code39__exact" data-target-input="nearest">
                            <input type="text" class="form-control" name="code39__exact" id="id_code39__exact" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="track_no__icontains">{% trans "Track No. contains" %}</label>
                        <div class="input-group" id="track_no__icontains" data-target-input="nearest">
                            <input type="text" class="form-control" name="track_no__icontains" id="id_track_no__icontains" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="details__description__icontains">{% trans "Product Details contains" context "taiwan_einvoice" %}</label>
                        <div class="input-group" id="details__description__icontains" data-target-input="nearest">
                            <input type="text" class="form-control" name="details__description__icontains" id="id_details__description__icontains" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="any_words__icontains">{% trans "Any Words(Exclude Track No., Product Details) contains" context "taiwan_einvoice" %}</label>
                        <div class="input-group" id="any_words__icontains" data-target-input="nearest">
                            <input type="text" class="form-control" name="any_words__icontains" id="id_any_words__icontains" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="seller_invoice_track_no__turnkey_service__seller__legal_entity__identifier">{% trans "Seller Party ID" context "sellerinvoicetrackno" %}</label>
                        <div class="input-group" id="seller_invoice_track_no__turnkey_service__seller__legal_entity__identifier" data-target-input="nearest">
                            <select class="form-control" data-target="#seller_invoice_track_no__turnkey_service__seller__legal_entity__identifier"
                                name="seller_invoice_track_no__turnkey_service__seller__legal_entity__identifier" id="id_seller_invoice_track_no__turnkey_service__seller__legal_entity__identifier">
                                <option value=""></option>
                                {% for slei in seller__legal_entity__identifiers %}
                                    <option value="{{ slei }}">{{ slei }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="seller_invoice_track_no__turnkey_service">{% trans "Turnkey Service" %}</label>
                        <div class="input-group" id="seller_invoice_track_no__turnkey_service" data-target-input="nearest">
                            <select class="form-control" data-target="#seller_invoice_track_no__turnkey_service"
                                name="seller_invoice_track_no__turnkey_service" id="id_seller_invoice_track_no__turnkey_service">
                                <option value=""></option>
                                {% for ts in turnkey_services %}
                                    <option value="{{ ts.id }}">{{ ts.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="creator">{% trans "Creator" context "taiwan_einvoice_einvoiceprintlog" %}</label>
                        <div class="input-group" id="creator" data-target-input="nearest">
                            <select class="form-control" data-target="#creator"
                                name="creator" id="id_creator">
                                <option value=""></option>
                                {% for cs in creators %}
                                    <option value="{{ cs.id }}">{{ cs.first_name }}:{{ cs.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="buyer_identifier__icontains">{% trans "Buyer Identifier contains" %}</label>
                        <div class="input-group" id="buyer_identifier__icontains" data-target-input="nearest">
                            <input type="text" class="form-control" name="buyer_identifier__icontains" id="id_buyer_identifier__icontains" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="generate_time__gte">{% trans "Generate time later than" %}</label>
                        <div class="input-group date" id="generate_time__gte" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#generate_time__gte"
                                name="generate_time__gte" id="id_generate_time__gte" />
                            <div class="input-group-append" data-target="#generate_time__gte" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="generate_time__lt">{% trans "Generate time earlier than" %}</label>
                        <div class="input-group date" id="generate_time__lt" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#generate_time__lt"
                                name="generate_time__lt" id="id_generate_time__lt" />
                            <div class="input-group-append" data-target="#generate_time__lt" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="carrier_type__regex">{% trans "Carrier Type" %}</label>
                        <div class="input-group" id="carrier_type__regex" data-target-input="nearest">
                            <select class="form-control" data-target="#carrier_type__regex"
                                name="carrier_type__regex" id="id_carrier_type__regex">
                                <option value=""></option>
                                <option value="^$">{% trans "None setting" %}</option>
                                <option value="^3J0002$">{% trans "Mobile barcode" %}</option>
                                <option value="^CQ0001$">{% trans "Natural person barcode" %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="npoban__regex">{% trans "Is Donated?" %}</label>
                        <div class="input-group" id="npoban__regex" data-target-input="nearest">
                            <select class="form-control" data-target="#npoban__regex"
                                name="npoban__regex" id="id_npoban__regex">
                                <option value=""></option>
                                <option value="^.+$">{% trans "Yes" context "taiwan_einvoice_donate_mark" %}</option>
                                <option value="^$">{% trans "No" context "taiwan_einvoice_donate_mark" %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="print_mark">{% trans "Print Mark?" %}</label>
                        <div class="input-group" id="print_mark" data-target-input="nearest">
                            <select class="form-control" data-target="#print_mark"
                                name="print_mark" id="id_print_mark">
                                <option value=""></option>
                                <option value="1">{% trans "Yes" context "taiwan_einvoice_print_mark" %}</option>
                                <option value="0">{% trans "No" context "taiwan_einvoice_print_mark" %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="cancel_einvoice_type">{% trans "Cancel E-Invoice Type?" %}</label>
                        <div class="input-group" id="cancel_einvoice_type" data-target-input="nearest">
                            <select class="form-control" data-target="#cancel_einvoice_type"
                                name="cancel_einvoice_type" id="id_cancel_einvoice_type">
                                <option value=""></option>
                                <option value="n">{% trans "Not Canceled" context "taiwan_einvoice_cancel_einvoice_type" %}</option>
                                <option value="c">{% trans "Canceled, No new one" context "taiwan_einvoice_cancel_einvoice_type" %}</option>
                                <option value="o">{% trans "Canceled, has new one" context "taiwan_einvoice_cancel_einvoice_type" %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="void_einvoice_type">{% trans "Void E-Invoice Type?" %}</label>
                        <div class="input-group" id="void_einvoice_type" data-target-input="nearest">
                            <select class="form-control" data-target="#void_einvoice_type" name="void_einvoice_type" id="id_void_einvoice_type">
                                <option value="reverse_void_order__gte=0"></option>
                                <option value="reverse_void_order__lte=0">{% trans "Not yet" context "taiwan_einvoice_void_einvoice_type" %}</option>
                                <option value="reverse_void_order__gt=0">{% trans "Voided" context "taiwan_einvoice_void_einvoice_type" %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="ei_synced">{% trans "Is Synced to EI?" %}</label>
                        <div class="input-group" id="ei_synced" data-target-input="nearest">
                            <select class="form-control" data-target="#ei_synced"
                                name="ei_synced" id="id_ei_synced">
                                <option value=""></option>
                                <option value="0">{% trans "Not Yet" context "taiwan_einvoice_ei_synced" %}</option>
                                <option value="1">{% trans "Done" context "taiwan_einvoice_ei_synced" %}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search_button_row">
                <button class="btn btn-primary search" type="submit">{% trans "Search" %}</button>
            </div>
        </form>
    </div>

    <div class="pagination_row">
        <nav>
            {% if paginator %}
            {% get_pagination_html paginator %}
            {% endif %}
        </nav>
    </div>

    {% block content %}
    {% if content %}{{ content|safe }}{% endif %}
    {% endblock %}

    <div class="pagination_row">
        <nav>
            {% if paginator %}
            {% get_pagination_html paginator %}
            {% endif %}
        </nav>
    </div>

{% endblock %}

{% block modals %}

<div class="modal fade" id="print_einvoice_modal" tabindex="-1" role="dialog"
    resource_uri_tmpl="{% url 'taiwan_einvoice:taiwaneinvoiceapi:einvoice-list' %}{id}/get_escpos_print_scripts/"
    aria-labelledby="print_einvoice_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="print_einvoice_modal_label">{% trans "Print E-Invoice" %}</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>{% trans "58mm E-Invoice" %}:
                        <select name="einvoice_printer" class="form-control">
                        </select>
                    </li>
                    <li>{% trans "Details" %}(
                        <input type="checkbox" name="append_to_einvoice"/>
                        {% trans "Print details at the same time" %} ):
                        <select name="details_printer" class="form-control">
                        </select>
                    </li>
                    <li>{% trans "Interval seconds of printing" %}:
                        <select name="interval_seconds_of_printing" class="form-control">
                            <option value="10000">{% trans "10 seconds" %}</option>
                            <option value="5000">{% trans "5 seconds" %}</option>
                            <option value="3000">{% trans "3 seconds" %}</option>
                            <option value="2000">{% trans "2 seconds" %}</option>
                            <option value="30000">{% trans "30 seconds" %}</option>
                        </select>
                    </li>
                    <li style="display: none;">
                        <span field="reason"></span>
                    </li>
                </ul>
                <table class="table table-hover table-striped">
                    <thead>
                            <tr>
                                <th field="no">{% trans "No." %}</th>
                                <th field="year_month_range">{% trans "Year Month Range" context "taiwan_einvoice" %}</th>
                                <th field="track_no_">{% trans "Track No." %}</th>
                                <th field="SalesAmount">{% trans "Sales Amount" %}</th>
                                <th field="TaxAmount">{% trans "Tax Amount" %}</th>
                                <th field="TotalAmount">{% trans "Total Amount" %}</th>
                                <th field="generate_no">{% trans "Footprint No." %}</th>
                                <th field="print_mark">{% trans "Print Mark" %}</th>
                                <th field="print_status">{% trans "Status" %}</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr class="tr_tmpl" style="display: none;">
                            <td field="no"></td>
                            <td field="year_month_range"></td>
                            <td field="track_no_"></td>
                            <td field="SalesAmount"></td>
                            <td field="TaxAmount"></td>
                            <td field="TotalAmount"></td>
                            <td field="generate_no"></td>
                            <td field="print_mark"></td>
                            <td field="print_status"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default suspend_print_einvoice" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="print_einvoice_button_0" type="button" class="print_einvoice btn btn-secondary">{% trans "Print" %}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="show_einvoice_modal" tabindex="-1" role="dialog"
    resource_uri_tmpl="{% url 'taiwan_einvoice:taiwaneinvoiceapi:einvoice-list' %}{id}/?with_details_content=true"
    aria-labelledby="show_einvoice_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="show_einvoice_modal_label">{% trans "E-Invoice" %}</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <b>{% trans "Creator" context "taiwan_einvoice" %}</b><br/>
                            <b>{% trans "Random Number" context "taiwan_einvoice" %}</b>
                        </div>
                        <div class="col">
                            <span field="creator_first_name_id"></span><br/>
                            <span field="random_number"></span>
                        </div>
                        <div class="col">
                            <b>{% trans "Generating Time" %}</b>
                        </div>
                        <div class="col">
                            <span class="datetime" field="generate_time" value="" format="Y-m-d A H:i:s"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>{% trans "Year Month Range" %}</b>
                        </div>
                        <div class="col">
                            <span field="year_month_range"></span>
                        </div>
                        <div class="col">
                            <b>{% trans "Footprint No." %}</b>
                        </div>
                        <div class="col">
                            <span field="generate_no"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>{% trans "Tax Type" %}</b>
                        </div>
                        <div class="col">
                            <span field="type__display"></span>
                        </div>
                        <div class="col">
                            <b>{% trans "Sales Amount" %}</b>
                        </div>
                        <div class="col">
                            <span field="SalesAmount"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>{% trans "Tax Amount" %}</b>
                        </div>
                        <div class="col">
                            <span field="TaxAmount"></span>
                        </div>
                        <div class="col">
                            <b>{% trans "Total Amount" %}</b>
                        </div>
                        <div class="col">
                            <span field="TotalAmount"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>{% trans "Seller identifier" %}</b>
                        </div>
                        <div class="col">
                            <span field="seller_identifier"></span>
                        </div>
                        <div class="col">
                            <b>{% trans "Buyer identifier" %}</b>
                        </div>
                        <div class="col">
                            <span field="buyer_identifier"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>{% trans "Donate Mark" %}</b>
                        </div>
                        <div class="col">
                            <span field="donate_mark"></span>
                        </div>
                        <div class="col">
                            <b>{% trans "NPO Ban" %}</b>
                        </div>
                        <div class="col">
                            <span field="npoban"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>{% trans "Carrier Type" %}</b>
                        </div>
                        <div class="col">
                            <span field="carrier_type__display"></span>
                        </div>
                        <div class="col">
                            <b>{% trans "Carrier ID" %}</b>
                        </div>
                        <div class="col">
                            <span field="carrier_id1"></span>
                            <span field="carrier_id2"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>{% trans "Print Mark" %}</b>
                        </div>
                        <div class="col">
                            <span field="print_mark"></span>
                        </div>
                        <div class="col">
                            <b>{% trans "Is Cancel?" context "E-Invoice" %}</b>
                        </div>
                        <div class="col">
                            <span field="is_canceled"></span>
                        </div>
                    </div>

                    <div class="row related_einvoices_div">
                        <div class="col">
                            &nbsp;
                        </div>
                        <div class="col">
                            &nbsp;
                        </div>
                        <div class="col">
                            <b>{% trans "Related E-Invoices" context "E-Invoice" %}</b>
                        </div>
                        <div class="col">
                            <div field="related_einvoices">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#details_content_0" aria-expanded="true" aria-controls="details_content_0">
                                {% trans "Details" %}
                            </button>
                        </div>
                    </div>
                    <div class="row collapse" id="details_content_0">
                        <div class="col" field="details_content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if perms.taiwan_einvoice.edit_te_escposweboperator or can_operate_escposwebs.exists %}
                    <button id="re_print_einvoice_modal_button_0" type="button" class="re_print_einvoice_modal btn btn-secondary">{% trans "Re-Print Original Copy" %}</button>
                {% endif %}
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="re_print_einvoice_modal" tabindex="-1" role="dialog"
    resource_uri_tmpl="{% url 'taiwan_einvoice:taiwaneinvoiceapi:einvoice-list' %}{id}/?with_details_content=true"
    aria-labelledby="show_einvoice_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="show_einvoice_modal_label">{% trans "Re-Print E-Invoice Original Copy" %}</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>{% trans "Reason Example" %}:</h4>
                <ol>
                    <li>{% trans "ESC/POS Web: Sudden power trip" context "escpos printing error example" %}</li>
                    <li>{% trans "ESC/POS Web: Suddenly Network down" context "escpos printing error example" %}</li>
                    <li>{% trans "ESC/POS Printer: Sudden power trip" context "escpos printing error example" %}</li>
                    <li>{% trans "ESC/POS Printer: Out of paper" context "escpos printing error example" %}</li>
                    <li>{% trans "ESC/POS Printer: Paper in the wrong side" context "escpos printing error example" %}</li>
                    <li>{% trans "ESC/POS Printer: Paper in the wrong type" context "escpos printing error example" %}</li>
                    <li>{% trans "Original Copy: Lost" context "escpos printing error example" %}</li>
                    <li>{% trans "Original Copy: Printing is not clear" context "escpos printing error example" %}</li>
                    <li>{% trans "Else: Please descript the problem with the detailed comments to help the administrator improve this system" context "escpos printing error example" %}</li>
                </ol>
                <h4 style="color: red;">{% trans "Note: If the Original E-Invoice Copy was generated as not well, please stamp the 'Invalid and Re-Print' on this copy" %}</h4>
                <h4><span class="text-danger">*</span> {% trans "Re-Print Reason" %}:</h4>
                <textarea name="reason" class="form-control" cols="50" placeholder="{% trans 'Please input the re-print reason. You can copy the similar example as the above list.' %}"></textarea>
            </div>
            <div class="modal-footer">
                <button id="re_print_einvoice_sure_modal_button_0" type="button" class="re_print_einvoice_sure_modal btn btn-secondary">{% trans "Configure" %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="re_print_einvoice_sure_modal" tabindex="-1" role="dialog"
    resource_uri_tmpl="{% url 'taiwan_einvoice:taiwaneinvoiceapi:einvoice-list' %}{id}/get_escpos_print_scripts/"
    aria-labelledby="show_einvoice_sure_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="show_einvoice_sure_modal_label">{% trans "Sure to Re-Print E-Invoice Original Copy?" %}</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 style="color: red;">{% trans "Note: If the Original E-Invoice Copy was generated as not well, please stamp the 'Invalid and Re-Print' on this copy" %}</h4>
                <h5>{% trans "Re-Print Original Copy Reason" %}: <span class="text-danger" field="reason"></span></h5>
                <ul>
                    <li>{% trans "58mm E-Invoice" %}:
                        <select name="einvoice_printer" class="form-control">
                        </select>
                    </li>
                    <li>{% trans "Details" %}(
                        <input type="checkbox" name="append_to_einvoice"/>
                        {% trans "Print details at the same time" %} ):
                        <select name="details_printer" class="form-control">
                        </select>
                    </li>
                </ul>
                <table class="table table-hover table-striped">
                    <thead>
                            <tr>
                                <th field="no">{% trans "No." %}</th>
                                <th field="year_month_range">{% trans "Year Month Range" context "taiwan_einvoice" %}</th>
                                <th field="track_no_">{% trans "Track No." %}</th>
                                <th field="SalesAmount">{% trans "Sales Amount" %}</th>
                                <th field="TaxAmount">{% trans "Tax Amount" %}</th>
                                <th field="TotalAmount">{% trans "Total Amount" %}</th>
                                <th field="generate_no">{% trans "Footprint No." %}</th>
                                <th field="print_mark">{% trans "Re-Print" %}</th>
                                <th field="print_status">{% trans "Status" %}</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr class="tr_tmpl" style="display: none;">
                            <td field="no"></td>
                            <td field="year_month_range"></td>
                            <td field="track_no_"></td>
                            <td field="SalesAmount"></td>
                            <td field="TaxAmount"></td>
                            <td field="TotalAmount"></td>
                            <td field="generate_no"></td>
                            <td field="print_mark"></td>
                            <td field="print_status"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="print_einvoice_button_1" type="button" style="display: none;"
                    class="print_einvoice btn btn-secondary">{% trans "Print Duplication" %}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}