{% load i18n %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table">
    <thead>
        <tr>
            <th width="5%">{% trans "No." %}</th>
            <th width="15%">{% trans "Name" %}</th>
            <th width="15%">{% trans "Slug" %}</th>
            <th width="25%">{% trans "Hash Key" %}</th>
            <th width="15%">{% trans "Usage" context "taiwan_einvoice:escposweb" %}</th>
            <th width="10%">{% trans "Button" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for escposweb in data.results %}
            <tr escposweb_id="{{ escposweb.id }}">
                <td>{{ forloop.counter }}.</td>
                <td field="name">{{ escposweb.name }}</td>
                <td>{{ escposweb.slug }}</td>
                <td>{{ escposweb.mask_hash_key }}</td>
                <td field="usage"></td>
                <td>
                    <button class="btn btn-primary set_default_escposweb">
                        {% trans "Set default" %}
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
