<!-- taiwan_einvoice/templates/taiwan_einvoice/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>ESCPOS Web List</title>
</head>
<body>
    E-Invoice json:<br/>
    <textarea id="einvoice-invoice-input" cols="100" rows="20"></textarea><br>
    <select id="printer-serial_number">
    </select>
    <input id="einvoice-invoice-submit" type="button" value="Print">
    <br>
    Print Log:<br/>
    <ul id="einvoice-invoice"></ul>
    {{ escpos_web.id|json_script:"escpos_web_id" }}
    <script>
        const escpos_web_id = JSON.parse(document.getElementById('escpos_web_id').textContent);

        const escpos_web_socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/taiwan_einvoice/escpos_web/'
            + escpos_web_id
            + '/'
        );

        escpos_web_socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const invoice_data = JSON.parse(data.invoice_json);
            const ul = document.querySelector('#einvoice-invoice');
            const li = document.createElement("li");
            li.setAttribute("id", data.batch_no);
            li.appendChild(document.createTextNode(invoice_data.track_no));
            ul.prepend(li);
        };

        escpos_web_socket.onclose = function(e) {
            console.error('einvoice socket closed unexpectedly');
        };

        document.querySelector('#einvoice-invoice-submit').onclick = function(e) {
            const invoiceInputDom = document.querySelector('#einvoice-invoice-input');
            const invoice_json = invoiceInputDom.value;
            if (invoice_json) {
                const batch_no = Math.random();
                escpos_web_socket.send(JSON.stringify({
                    'serial_number': document.querySelector('#printer-serial_number').value,
                    'batch_no': batch_no,
                    'invoice_json': invoice_json
                }));
                invoiceInputDom.value = '';
            }
        };

        const escpos_web_status_socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/taiwan_einvoice/escpos_web/'
            + escpos_web_id
            + '/status/'
        );

        escpos_web_status_socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const select = document.querySelector('#printer-serial_number');
            const select_value = select.value;
            let index = select.options.length;
            while (index--) {
                select.remove(index);
            }
            for (k in data) {
                console.log(k);
                console.log(data[k]);
                const v = data[k]['nickname'] + '(' + data[k]['receipt_type_display'] + ')';
                const option = new Option(v, k);
                if (k == select_value) {
                    option.selected = true;
                }
                select.add(option, undefined);
                console.log(k, v);
            }
        };

        escpos_web_status_socket.onclose = function(e) {
            console.error('escpos_web_status socket closed unexpectedly');
        };


        const escpos_web_print_result_socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/taiwan_einvoice/escpos_web/'
            + escpos_web_id
            + '/print_result/'
        );

        escpos_web_print_result_socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const batch_no = data.batch_no;
            const track_no = data.track_no;
            const status = data.status;
            const li = document.getElementById(batch_no);
            if (status) {
                li.textContent = 'Done: ' + track_no;
            } else {
                const status_message = data.status_message;
                li.textContent = 'Fail: ' + track_no + ' => ' + status_message;
            }
        };

        escpos_web_print_result_socket.onclose = function(e) {
            console.error('escpos_web_print_result socket closed unexpectedly');
        };
    </script>
<body>
</html>