<!-- taiwan_einvoice/templates/taiwan_einvoice/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>ESCPOS Web List</title>
</head>
<body>
    Print Log:<br/>
    <textarea id="einvoice-invoice" cols="100" rows="20" disabled="disabled" readonly="readonly"></textarea><br>
    E-Invoice json:<br/>
    <textarea id="einvoice-invoice-input" cols="100" rows="20"></textarea><br>
    <select id="printer-serial_number">
        <option value='4E3346460074210000'>4E3346460074210000</option>
    </select>
    <input id="einvoice-invoice-submit" type="button" value="Print">
    {{ escpos_web.id|json_script:"escpos_web_id" }}
    <script>
        const escpos_web_id = JSON.parse(document.getElementById('escpos_web_id').textContent);

        const escpos_web_socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/taiwan_einvoice/escpos_web/'
            + escpos_web_id
            + '/'
        );

        escpos_web_socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const invoice_data = JSON.parse(data.invoice_json);
            document.querySelector('#einvoice-invoice').value += (invoice_data.track_no + '\n');
        };

        escpos_web_socket.onclose = function(e) {
            console.error('einvoice socket closed unexpectedly');
        };

        document.querySelector('#einvoice-invoice-submit').onclick = function(e) {
            const invoiceInputDom = document.querySelector('#einvoice-invoice-input');
            const invoice_json = invoiceInputDom.value;
            escpos_web_socket.send(JSON.stringify({
                'serial_number': document.querySelector('#printer-serial_number').value,
                'invoice_json': invoice_json
            }));
            invoiceInputDom.value = '';
        };
    </script>
<body>
</html>