{% extends 'taiwan_einvoice/base.html' %}
{% load i18n %}{% load static %}{% load rest_framework %}{% load compress %}


{% block css %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/sellerinvoicetrackno_list.js"></script>
    {% endcompress %}
{% endblock %}

{% block body %}

<div class="form_container" id="id_search_options">
    <form method="GET" action="./" onsubmit="return false;">
        <input type='hidden' name='format' value='html' />

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="turnkey_web__seller__legal_entity__identifier">{% trans "Party ID" context "sellerinvoicetrackno" %}</label>
                    <div class="input-group date" id="turnkey_web__seller__legal_entity__identifier" data-target-input="nearest">
                        <select class="form-control" data-target="#turnkey_web__seller__legal_entity__identifier"
                            name="turnkey_web__seller__legal_entity__identifier" id="id_turnkey_web__seller__legal_entity__identifier">
                            <option value=""></option>
                            {% for slei in seller__legal_entity__identifiers %}
                                <option value="{{ slei }}">{{ slei }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="turnkey_web">{% trans "Turnkey Service" %}</label>
                    <div class="input-group date" id="turnkey_web" data-target-input="nearest">
                        <select class="form-control" data-target="#turnkey_web"
                            name="turnkey_web" id="id_turnkey_web">
                            <option value=""></option>
                            {% for ts in turnkey_services %}
                                <option value="{{ ts.id }}">{{ ts.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="type">{% trans "Tax Type" %}</label>
                    <div class="input-group date" id="type" data-target-input="nearest">
                        <select class="form-control" data-target="#type"
                            name="type" id="id_type">
                            <option value=""></option>
                            {% for tc in type_choices %}
                                <option value="{{ tc.0 }}">{{ tc.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="date_in_year_month_range">{% trans "Datetime is included by the Year Month Range" %}</label>
                    <div class="input-group date" id="date_in_year_month_range" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#date_in_year_month_range"
                            name="date_in_year_month_range" id="id_date_in_year_month_range" />
                        <div class="input-group-append" data-target="#date_in_year_month_range" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="track__icontains">{% trans "Track contains" context "taiwan_einvoice" %}</label>
                    <div class="input-group" id="track__icontains" data-target-input="nearest">
                        <input type="text" class="form-control" name="track__icontains" id="id_track__icontains" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="no_including">{% trans "Including No." context "taiwan_einvoice" %}</label>
                    <div class="input-group" id="no_including" data-target-input="nearest">
                        <input type="text" class="form-control" name="no_including" id="id_no_including" />
                    </div>
                </div>
            </div>
        </div>

        <div class="search_button_row">
            <button class="btn btn-primary search" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
</div>

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>

{% block content %}
{% if content %}{{ content|safe }}{% endif %}
{% endblock %}

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>

{% endblock %}
