{% load i18n %}{% load ho600_tags %}
{% h6_get_objs_by_any_perms request.user for "taiwan_einvoice.view_te_sellerinvoicetrackno" as "can_add_sellerinvoicetrackno_under_turnkeyservices" %}
{% h6_get_objs_by_any_perms request.user for "taiwan_einvoice.delete_te_sellerinvoicetrackno" as "can_delete_sellerinvoicetrackno_under_turnkeyservices" %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}

    {% if can_add_sellerinvoicetrackno_under_turnkeyservices.exists %}
        <button id="upload_csv_to_multiple_create_modal_button_0"
            class="btn btn-success upload_csv_to_multiple_create_modal" data-toggle="modal">
            {% trans "Create Seller Invoice Track No" %}
        </button>
        {% if request.GET.turnkey_web__seller__legal_entity__identifier and request.GET.date_in_year_month_range %}
            {% if 0 < data.count %}
                <button id="create_and_upload_blank_numbers_button_0" action="create_and_upload_blank_numbers"
                    class="btn btn-warning create_and_upload_blank_numbers">
                    {% trans "Create and Upload Blank Numbers" %}
                </button>
            {% else %}
                <span class="text-warning">
                    {% trans "No need to upload blank numbers" %}%
                </span>
            {% endif %}
        {% else %}
            <span class="text-warning">
                {% trans "Search 'identifier' and 'date in year month range', then it will show 'Create and Upload blank numbers' button" %}
            </span>
        {% endif %}
    {% endif %}
</div>

<table class="table search_result" init_page_no="{{ data.init_page_no }}">
    <thead>
        <tr>
            <th field="no" width="5%">{% trans "No." %}</th>
            <th field="turnkey_web" width="10%">{% trans "Turnkey Service" %}</th>
            <th field="type__display" width="10%">{% trans "Tax Type" %}</th>
            <th field="year_month_range" width="10%">{% trans "Year Month Range" %}</th>
            <th field="track" width="10%">{% trans "Track" %}</th>
            <th field="begin_no" width="10%">{% trans "Begin No." %}</th>
            <th field="end_no" width="10%">{% trans "End No." %}</th>
            <th field="next_blank_no" width="10%">{% trans "Blank No." %}</th>
            <th field="count_blank_no" width="10%">{% trans "Blank No. Count" %}</th>
            <th field="button" width="10%">{% trans "Delete" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for sellerinvoicetrackno in data.results %}
            <tr sellerinvoicetrackno_id="{{ sellerinvoicetrackno.id }}" resource_uri='{% url "taiwan_einvoice:taiwaneinvoiceapi:sellerinvoicetrackno-detail" pk=sellerinvoicetrackno.id %}'>
                <td field="no" class="record_order_no" counter0={{ forloop.counter0 }}>{{ forloop.counter }}.</td>
                <td field="turnkey_web">
                    <div field="turnkey_web__name">{{ sellerinvoicetrackno.turnkey_web_dict.name }}</div>
                    <div field="turnkey_web__party_id">{{ sellerinvoicetrackno.turnkey_web_dict.party_id }}</div>
                </td>
                <td field="type__display">{{ sellerinvoicetrackno.type__display }}</td>
                <td field="year_month_range">{{ sellerinvoicetrackno.year_month_range }}</td>
                <td field="track">{{ sellerinvoicetrackno.track }}</td>
                <td field="begin_no">{{ sellerinvoicetrackno.begin_no }}</td>
                <td field="end_no">{{ sellerinvoicetrackno.end_no }}</td>
                <td field="next_blank_no">
                    {% if sellerinvoicetrackno.next_blank_no %}
                        {% if sellerinvoicetrackno.next_blank_no == sellerinvoicetrackno.end_no %}
                            {{ sellerinvoicetrackno.next_blank_no }}
                        {% else %}
                            <div>{{ sellerinvoicetrackno.next_blank_no }}</div>
                             ~
                            <div>{{ sellerinvoicetrackno.end_no }}</div>
                        {% endif %}
                    {% else %}
                        {% trans "None" %}
                    {% endif %}
                </td>
                <td field="count_blank_no">{{ sellerinvoicetrackno.count_blank_no }}</td>
                <td field="button">
                    {% if sellerinvoicetrackno.can_be_deleted and can_delete_sellerinvoicetrackno_under_turnkeyservices.exists %}
                        <button id="delete_iseller_nvoice_track_no_modal_button_0" type="button" class="delete_seller_invoice_track_no_modal btn btn-danger">{% trans "Delete" %}</button></td>
                    {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% if can_add_sellerinvoicetrackno_under_turnkeyservices.exists %}

    <div class="modal fade" id="upload_csv_to_multiple_create_modal" tabindex="-1" role="dialog"
        resource_uri="{% url 'taiwan_einvoice:taiwaneinvoiceapi:sellerinvoicetrackno-upload-csv-to-multiple-create' %}"
        aria-labelledby="upload_csv_to_multiple_create_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="upload_csv_to_multiple_create_modal_label">{% trans "Upload .csv to Create Seller Invoice Track No" %}</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="turnkey_web" class="form-label">{% trans "Turnkey Service" %}</label>
                        <select name="turnkey_web" class="form-control">
                            {% for two in can_add_sellerinvoicetrackno_under_turnkeyservices %}
                                <option value="{{ two.id }}">{{ two.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="csv_file" class="form-label">{% trans "Choose .csv" %}</label>
                        <input class="form-control" type="file" id="csv_file">
                        <div id="csv_file_help" class="form-text">
                            .csv 內容格式應如下:
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>營業人統編</th>
                                        <th>發票類別代號</th>
                                        <th>發票類別</th>
                                        <th>發票期別</th>
                                        <th>發票字軌名稱</th>
                                        <th>發票起號</th>
                                        <th>發票迄號</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>24634102</td>
                                        <td>7</td>
                                        <td>一般稅額計算</td>
                                        <td>110/11 ~ 110/12</td>
                                        <td>NQ</td>
                                        <td>42519550</td>
                                        <td>42522049</td>
                                    </tr>
                                    <tr>
                                        <td>24634102</td>
                                        <td>7</td>
                                        <td>一般稅額計算</td>
                                        <td>110/11 ~ 110/12</td>
                                        <td>TN</td>
                                        <td>42539550</td>
                                        <td>42542049</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="text-danger">起號的後 2 碼必定為 00 或 50 ; 迄號的後 2 碼必為 49 或 99 。</span>
                        </div>
                    </div>
                    <div class="mb-3">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button id="upload_csv_to_multiple_create_button_0" type="button" class="upload_csv_to_multiple_create btn btn-success">{% trans "Create" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endif %}


{% if can_delete_sellerinvoicetrackno_under_turnkeyservices.exists %}

    <div class="modal fade" id="delete_seller_invoice_track_no_modal" tabindex="-1" role="dialog"
        aria-labelledby="delete_seller_invoice_track_no_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="delete_seller_invoice_track_no_modal_label">{% trans "Delete Seller Invoice Track No" %}</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table modal_table">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    {% blocktrans %}
                        <p>Do you sure to delete the above record?</p>
                    {% endblocktrans %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button id="delete_seller_invoice_track_no_button_0" type="button" class="delete_seller_invoice_track_no btn btn-danger">{% trans "Delete" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endif %}