{% load i18n %}
{% load guardian_tags %}
{% load ho600_tags %}

<div class="total_count_row">
    {% blocktrans with groups_count=data.groups_count %}<span class="count">{{ groups_count }}</span> records{% endblocktrans %}

    {% if perms.taiwan_einvoice.edit_te_turnkeyservicegroup %}
        <button id="add_turnkeyservicegroup_button"
            class="btn btn-success add_turnkeyservicegroup_modal" data-toggle="modal">
            {% trans "Create Staff Group" %}
        </button>
    {% endif %}
</div>

<table class="table search_result" init_page_no="{{ data.groups_count }}">
    <thead>
        <tr>
            <th rowspan="2" width="5%">{% trans "No." %}</th>
            <th rowspan="2" width="20%">{% trans "Staff Group Name" %}</th>
            <th rowspan="2" width="75%">{% trans "Staffs" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for group in data.groups %}
            <tr group_id="{{ group.id }}"
                permissions="{% with permissions=data.groups_permissions|hash:group.id %}{% for p in permissions %}{{ p }},{% endfor %}{% endwith %}">
                <td field="no" class="record_order_no" counter0={{ forloop.counter0 }}>{{ forloop.counter }}.</td>
                <td field="name">
                    {% if perms.taiwan_einvoice.edit_te_turnkeyservicegroup %}
                        <button class="btn btn-primary update_turnkeyservicegroup_modal">{{ group.display_name }}</button>
                    {% else %}
                        {{ group.display_name }}
                    {% endif %}
                </td>
                <td field="staffs">
                    {% for staffprofile in group.staffs %}
                        <h4 title="{{ staff.user_dict.username }}"><span class="badge badge-pill badge-info" staffprofile_id="{{ staffprofile.id }}">
                            {{ staffprofile.nickname }}
                        </span></h4>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
