{% extends 'taiwan_einvoice/base.html' %}
{% load i18n %}{% load static %}{% load rest_framework %}{% load compress %}

{% block css %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{{ settings.STATIC_URL }}taiwan_einvoice/turnkeywebgroup_list.js"></script>
    {% endcompress %}
{% endblock %}

{% block body %}

    <h1>{% blocktrans with name=data.name %}{{ name }}'s Staff Group{% endblocktrans %}</h1>

    {% block content %}
        {% if content %}{{ content|safe }}{% endif %}
    {% endblock %}

{% endblock %}

{% block modals %}
<div class="modal fade" id="add_turnkeywebgroup_modal" tabindex="-1" role="dialog"
    resource_uri="{% url 'taiwan_einvoice:taiwaneinvoiceapi:turnkeywebgroup-detail' pk=data.id %}"
    aria-labelledby="add_turnkeywebgroup_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="add_turnkeywebgroup_modal_label">
                    {% trans "Create Staff Group" %}
                </h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="inputDisplayName" class="col-sm-2 col-form-label">{% trans "Name" %}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDisplayName" name="display_name" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="add_turnkeywebgroup_button" type="button" class="add_turnkeywebgroup btn btn-secondary">{% trans "Create" %}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="update_turnkeywebgroup_modal" tabindex="-1" role="dialog"
    resource_uri="{% url 'taiwan_einvoice:taiwaneinvoiceapi:turnkeywebgroup-detail' pk=data.id %}"
    aria-labelledby="update_turnkeywebgroup_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="update_turnkeywebgroup_modal_label">
                    {% trans "Update Staff Group" %}
                </h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="inputDisplayName" class="col-sm-2 col-form-label">{% trans "Name" %}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDisplayName" name="display_name" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <i class="lock_or_unlock_delete fa fa-lock fa-lg btn"></i>
                <button type="button" class="delete_modal btn btn-danger mr-auto" disabled="disabled">
                    <i class="fa fa-trash-alt fa-lg"></i> {% trans "Delete" %}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="update_turnkeywebgroup_button" type="button" class="update_turnkeywebgroup btn btn-secondary">{% trans "Update" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}