{% load i18n %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table">
    <thead>
        <tr>
            <th rowspan="2" width="5%">{% trans "No." %}</th>
            <th rowspan="2" width="10%">{% trans "Is on working?" %}</th>
            <th rowspan="2" width="10%">{% trans "Seller Identifier" %}</th>
            <th rowspan="2" width="20%">{% trans "Name" %}</th>
            <th rowspan="2" width="10%">{% trans "Transport ID" %}</th>
            <th rowspan="2" width="10%">{% trans "Party ID" %}</th>
            <th rowspan="2" width="10%">{% trans "Routing ID" %}</th>
            <th rowspan="2" width="20%">
                {% trans "Hash Key" %}<br/>
                {% trans "Qrcode Seed" %}<br/>
                {% trans "Turnkey Seed" %}<br/>
                {% trans "Download Seed" %}
            </th>
            <th width="20%" colspan="2">
                {% trans "Remaining Count of the current period" %}
            </th>
        </tr>
        <tr>
            <th width="10%">{% trans "General" context "tax_type" %}</th>
            <th width="10%">{% trans "Special" context "tax_type" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for turnkeyweb in data.results %}
            <tr turnkeyweb_id="{{ turnkeyweb.id }}">
                <td>{{ forloop.counter }}.</td>
                <td field="on_working">{% if turnkeyweb.on_working %}{% trans "On Working" %}{% endif %}</td>
                <td field="identifier">{{ turnkeyweb.seller_dict.legal_entity_dict.identifier }}</td>
                <td field="name">{{ turnkeyweb.name }}</td>
                <td field="transport_id">{{ turnkeyweb.transport_id }}</td>
                <td field="party_id">{{ turnkeyweb.party_id }}</td>
                <td field="routing_id">{{ turnkeyweb.routing_id }}</td>
                <td>
                    <div field="hash_key">{{ turnkeyweb.mask_hash_key }}</div>
                    <div field="qrcode_seed">{{ turnkeyweb.mask_qrcode_seed }}</div>
                    <div field="turnkey_seed">{{ turnkeyweb.mask_turnkey_seed }}</div>
                    <div field="download_seed">{{ turnkeyweb.mask_download_seed }}</div>
                </td>
                <td field="count_now_use_07_sellerinvoicetrackno_blank_no">{{ turnkeyweb.count_now_use_07_sellerinvoicetrackno_blank_no }}</td>
                <td field="count_now_use_08_sellerinvoicetrackno_blank_no">{{ turnkeyweb.count_now_use_08_sellerinvoicetrackno_blank_no }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
