{% extends 'turnkey_wrapper/base.html' %}
{% load i18n %}{% load static %}{% load rest_framework %}{% load compress %}

{% block css %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{% static "turnkey_wrapper/eiturnkeybatcheinvoice_list.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block body %}

<div class="form_container" id="id_search_options">
    <form method="GET" action="./" onsubmit="return false;">
        <input type='hidden' name='format' value='html' />

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="ei_turnkey_batch__slug__icontains">{% trans "Batch Slug contains" %}</label>
                    <div class="input-group" id="ei_turnkey_batch__slug__icontains" data-target-input="nearest">
                        <input type="text" class="form-control" name="ei_turnkey_batch__slug__icontains" id="id_ei_turnkey_batch__slug__icontains" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="ei_turnkey_batch__mig">{% trans "MIG" %}</label>
                    <div class="input-group" id="ei_turnkey_batch__mig" data-target-input="nearest">
                        <select class="form-control" data-target="#ei_turnkey_batch__mig" name="ei_turnkey_batch__mig" id="id_ei_turnkey_batch__mig">
                            <option value=""></option>
                            <option value="C0401">C0401</option>
                            <option value="C0501">C0501</option>
                            <option value="C0701">C0701</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="invoice_number_in_body">{% trans "Track No." %}</label>
                    <div class="input-group" id="invoice_number_in_body" data-target-input="nearest">
                        <input type="text" class="form-control" name="invoice_number_in_body" id="id_invoice_number_in_body" />
                    </div>
                </div>
            </div>
        </div>

        <div class="search_button_row">
            <button class="btn btn-primary search" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
</div>

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>

{% block content %}
{% if content %}{{ content|safe }}{% endif %}
{% endblock %}

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>


{% endblock %}

{% block modals %}

{% endblock %}