{% extends 'turnkey_wrapper/base.html' %}
{% load i18n %}{% load static %}{% load rest_framework %}{% load compress %}

{% block css %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{% static "turnkey_wrapper/eiturnkeybatcheinvoice_list.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block body %}

<div class="form_container" id="id_search_options">
    <form method="GET" action="./" onsubmit="return false;">
        <input type='hidden' name='format' value='html' />

        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="ei_turnkey_batch__ei_turnkey__party_id">{% trans "Seller Party ID" %}</label>
                    <div class="input-group" id="ei_turnkey_batch__ei_turnkey__party_id" data-target-input="nearest">
                        <select class="form-control" data-target="#ei_turnkey_batch__ei_turnkey__party_id" name="ei_turnkey_batch__ei_turnkey__party_id" id="id_ei_turnkey_batch__ei_turnkey__party_id">
                            <option value=""></option>
                            {% for pi in party_ids %}
                                <option value="{{ pi }}">{{ pi }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="ei_turnkey_batch__mig">{% trans "MIG" %}</label>
                    <div class="input-group" id="ei_turnkey_batch__mig" data-target-input="nearest">
                        <select class="form-control" data-target="#ei_turnkey_batch__mig" name="ei_turnkey_batch__mig" id="id_ei_turnkey_batch__mig">
                            <option value=""></option>
                            <option value="F0401">F0401</option>
                            <option value="F0501">F0501</option>
                            <option value="F0701">F0701</option>
                            <option value="C0401">C0401</option>
                            <option value="C0501">C0501</option>
                            <option value="C0701">C0701</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="ei_turnkey_batch__slug__icontains">{% trans "Batch Slug contains" %}</label>
                    <div class="input-group" id="ei_turnkey_batch__slug__icontains" data-target-input="nearest">
                        <input type="text" class="form-control" name="ei_turnkey_batch__slug__icontains" id="id_ei_turnkey_batch__slug__icontains" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="batch_einvoice_track_no__icontains">{% trans "Track No." %}</label>
                    <div class="input-group" id="batch_einvoice_track_no__icontains" data-target-input="nearest">
                        <input type="text" class="form-control" name="batch_einvoice_track_no__icontains" id="id_batch_einvoice_track_no__icontains" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="status">{% trans "Status" %}</label>
                    <div class="input-group" id="status" data-target-input="nearest">
                        <select class="form-control" name="status" id="id_status">
                            <option value=""></option>
                            {% for sc in status_choices %}
                                <option value="{{ sc.0 }}">{{ sc.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="result_code__icontains">{% trans "Result Code contains" %}</label>
                    <div class="input-group" id="result_code__icontains" data-target-input="nearest">
                        <input type="text" class="form-control" name="result_code__icontains" id="id_result_code__icontains" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="in_year_month_range_time">{% trans "Time in the Year Month Range" %}</label>
                    <div class="input-group date" id="in_year_month_range_time" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#in_year_month_range_time"
                            name="in_year_month_range_time" id="in_year_month_range_time" />
                        <div class="input-group-append" data-target="#in_year_month_range_time" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="search_button_row">
            <button class="btn btn-primary search" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
</div>

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>

{% block content %}
{% if content %}{{ content|safe }}{% endif %}
{% endblock %}

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>


{% endblock %}

{% block modals %}

{% endblock %}