{% extends 'turnkey_wrapper/base.html' %}
{% load i18n %}{% load static %}{% load rest_framework %}{% load compress %}

{% block css %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{% static "turnkey_wrapper/eiturnkeye0501invoiceassignno_list.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block body %}

<div class="form_container" id="id_search_options">
    <form method="GET" action="./" onsubmit="return false;">
        <input type='hidden' name='format' value='html' />

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label for="ei_turnkey">{% trans "EI Turnkey" %}</label>
                    <div class="input-group" id="ei_turnkey" data-target-input="nearest">
                        <select class="form-control" name="ei_turnkey" id="id_ei_turnkey">
                            <option value=""></option>
                            {% for et in ei_turnkeys %}
                                <option value="{{ et.id }}">{{ et.party_id }}({{ et.routing_id }})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="create_time__gte">{% trans "Create Time greater than" %}</label>
                    <div class="input-group date" id="create_time__gte" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#create_time__gte"
                            name="create_time__gte" id="id_create_time__gte" />
                        <div class="input-group-append" data-target="#create_time__gte" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="create_time__lt">{% trans "Create Time less than" %}</label>
                    <div class="input-group date" id="create_time__lt" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#create_time__lt"
                            name="create_time__lt" id="id_create_time__lt" />
                        <div class="input-group-append" data-target="#create_time__lt" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="invoice_type">{% trans "Invoice Typ" %}</label>
                    <div class="input-group" id="invoice_type" data-target-input="nearest">
                        <select class="form-control" name="invoice_type__exact" id="id_invoice_type">
                            <option value=""></option>
                            <option value="07">{% trans "General" %}</option>
                            <option value="08">{% trans "Special" %}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="year_month">{% trans "Year-Month" %}</label>
                    <div class="input-group" id="year_month" data-target-input="nearest">
                        <input class="form-control" name="year_month__exact" id="id_year_month" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="invoice_track">{% trans "Invoice Track" %}</label>
                    <div class="input-group" id="invoice_track" data-target-input="nearest">
                        <input class="form-control" name="invoice_track__iexact" id="id_invoice_track" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="invoice_begin_no">{% trans "Begin No." %}</label>
                    <div class="input-group" id="invoice_begin_no" data-target-input="nearest">
                        <input class="form-control" name="invoice_begin_no__contains" id="id_invoice_begin_no" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="invoice_end_no">{% trans "End No." %}</label>
                    <div class="input-group" id="invoice_end_no" data-target-input="nearest">
                        <input class="form-control" name="invoice_end_no__contains" id="id_invoice_end_no" />
                    </div>
                </div>
            </div>
        </div>

        <div class="search_button_row">
            <button class="btn btn-primary search" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
</div>

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>

{% block content %}
{% if content %}{{ content|safe }}{% endif %}
{% endblock %}

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>


{% endblock %}

{% block modals %}

{% endblock %}