{% load i18n %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>create_time</th>
            <th>update_time</th>
            <th>ei_turnkey</th>
            <th>slug</th>
            <th>mig</th>
            <th>turnkey_version</th>
            <th>status</th>
            <th>count</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in data.results %}
            <tr obj_id="{{ obj.id }}">
                <td field="no">{{ forloop.counter }}.</td>
                <td field="create_time">{{ obj.create_time }}</td>
                <td field="update_time">{{ obj.update_time }}</td>
                <td field="ei_turnkey">
                    <div>{{ obj.ei_turnkey_dict.transport_id }}</div>
                    <div>{{ obj.ei_turnkey_dict.party_id }}</div>
                    <div>{{ obj.ei_turnkey_dict.routing_id }}</div>
                </td>
                <td field="slug">{{ obj.slug }}</td>
                <td field="mig">{{ obj.mig }}</td>
                <td field="turnkey_version">{{ obj.turnkey_version }}</td>
                <td field="status">{{ obj.status }}</td>
                <td field="count">
                    <a href="{% url 'turnkeywrapperapi:eiturnkeybatcheinvoice-list' %}?format=html&ei_turnkey_batch={{ obj.id }}">{{ obj.count }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
