{% load i18n %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>SIGN_ID</th>
            <th>SIGN_TYPE</th>
            <th>PFX_PATH</th>
            <th>SIGN_PASSWORD</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in data.results %}
            <tr obj_id="{{ obj.id }}">
                <td field="no">{{ forloop.counter }}.</td>
                <td field="SIGN_ID">{{ obj.SIGN_ID }}</td>
                <td field="SIGN_TYPE">{{ obj.SIGN_TYPE }}</td>
                <td field="PFX_PATH">{{ obj.PFX_PATH }}</td>
                <td field="SIGN_PASSWORD">{{ obj.SIGN_PASSWORD }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
