{% load i18n %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>FROM_PARTY_ID_PARTY_ID</th>
            <th>PARTY_ID</th>
            <th>PARTY_DESCRIPTION</th>
            <th>ROUTING_ID</th>
            <th>ROUTING_DESCRIPTION</th>
            <th>FROM_PARTY_ID</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in data.results %}
            <tr obj_id="{{ obj.id }}">
                <td field="no">{{ forloop.counter }}.</td>
                <td field="FROM_PARTY_ID_PARTY_ID">{{ obj.FROM_PARTY_ID_PARTY_ID }}</td>
                <td field="PARTY_ID">{{ obj.PARTY_ID }}</td>
                <td field="PARTY_DESCRIPTION">{{ obj.PARTY_DESCRIPTION }}</td>
                <td field="ROUTING_ID">{{ obj.ROUTING_ID }}</td>
                <td field="ROUTING_DESCRIPTION">{{ obj.ROUTING_DESCRIPTION }}</td>
                <td field="FROM_PARTY_ID">{{ obj.FROM_PARTY_ID }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
