{% extends 'turnkey_wrapper/base.html' %}
{% load i18n %}{% load static %}{% load rest_framework %}{% load compress %}

{% block css %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{% static "turnkey_wrapper/TURNKEY_MESSAGE_LOG_list.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block body %}

<div class="form_container" id="id_search_options">
    <form method="GET" action="./" onsubmit="return false;">
        <input type='hidden' name='format' value='html' />

        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="MESSAGE_DTS__gte">{% trans "MESSAGE_DTS greater than" %}</label>
                    <div class="input-group date" id="MESSAGE_DTS__gte" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#MESSAGE_DTS__gte"
                            name="MESSAGE_DTS__gte" id="id_MESSAGE_DTS__gte" />
                        <div class="input-group-append" data-target="#MESSAGE_DTS__gte" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="MESSAGE_DTS__lte">{% trans "MESSAGE_DTS less than" %}</label>
                    <div class="input-group date" id="MESSAGE_DTS__lte" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#MESSAGE_DTS__lte"
                            name="MESSAGE_DTS__lte" id="id_MESSAGE_DTS__lte" />
                        <div class="input-group-append" data-target="#MESSAGE_DTS__lte" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="SEQNO__icontains">{% trans "SEQNO contains" %}</label>
                    <div class="input-group" id="SEQNO__icontains" data-target-input="nearest">
                        <input type="text" class="form-control" name="SEQNO__icontains" id="id_SEQNO__icontains" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="form-group">
                    <label for="SUBSEQNO__icontains">{% trans "SUBSEQNO contains" %}</label>
                    <div class="input-group" id="SUBSEQNO__icontains" data-target-input="nearest">
                        <input type="text" class="form-control" name="SUBSEQNO__icontains" id="id_SUBSEQNO__icontains" />
                    </div>
                </div>
            </div>
        </div>

        <div class="search_button_row">
            <button class="btn btn-primary search" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
</div>

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>

{% block content %}
{% if content %}{{ content|safe }}{% endif %}
{% endblock %}

<div class="pagination_row">
    <nav>
        {% if paginator %}
        {% get_pagination_html paginator %}
        {% endif %}
    </nav>
</div>


{% endblock %}

{% block modals %}

{% endblock %}