{% load i18n %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table" init_page_no="{{ data.init_page_no }}">
    <thead>
        <tr>
            <th>No.</th>
            <th>USER_ID</th>
            <th>USER_PASSWORD</th>
            <th>USER_ROLE</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in data.results %}
            <tr obj_id="{{ obj.id }}">
                <td field="no" class="record_order_no" counter0="{{ forloop.counter0 }}">{{ forloop.counter }}</td>
                <td field="USER_ID">{{ obj.USER_ID }}</td>
                <td field="mask_USER_PASSWORD">{{ obj.mask_USER_PASSWORD }}</td>
                <td field="USER_ROLE">{{ obj.USER_ROLE }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
