{% load i18n %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>TRANSPORT_ID</th>
            <th>TRANSPORT_PASSWORD</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in data.results %}
            <tr escposweb_id="{{ escposweb.id }}">
                <td field="no">{{ forloop.counter }}.</td>
                <td field="TRANSPORT_ID">{{ obj.TRANSPORT_ID }}</td>
                <td field="TRANSPORT_PASSWORD">{{ obj.TRANSPORT_PASSWORD }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
