{% load i18n %}

<div class="total_count_row">
    {% with data.count as total_count %}
        {% blocktrans with total_count=total_count %}{{ total_count }} records{% endblocktrans %}
    {% endwith %}
</div>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>SEQNO_SUBSEQNO_TASK</th>
            <th>SEQNO</th>
            <th>SUBSEQNO</th>
            <th>PROCESS_DTS</th>
            <th>TASK</th>
            <th>STATUS</th>
            <th>FILENAME</th>
            <th>UUID</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in data.results %}
            <tr escposweb_id="{{ escposweb.id }}">
                <td field="SEQNO_SUBSEQNO_TASK">{{ obj.SEQNO_SUBSEQNO_TASK }}</td>
                <td field="SEQNO">{{ obj.SEQNO }}</td>
                <td field="SUBSEQNO">{{ obj.SUBSEQNO }}</td>
                <td field="PROCESS_DTS">{{ obj.PROCESS_DTS }}</td>
                <td field="TASK">{{ obj.TASK }}</td>
                <td field="STATUS">{{ obj.STATUS }}</td>
                <td field="FILENAME">{{ obj.FILENAME }}</td>
                <td field="UUID">{{ obj.UUID }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
